@model IEnumerable<B.Models.DivisionResponse>;

@{
    ViewData["Title"] = "Division List";
}


<script>
    function update()
    {
        $.get("Update",
            {},
            function(data)
            {
                let table = document.getElementById("content");
                while (table.firstChild)               
                    table.removeChild(table.firstChild);
                let length = data.length;
                for (let i = 0; i < length; i++)                 
                    $("#content").append('<tr><th>'+data[i].name+'</th><th>'+data[i].status+'</th><th>'+data[i].parentName+'</th></tr>');                
            });
    }
    let timerId = setInterval(update, 3000);

    function sort(str) 
    {
        setTimeout(() => { clearInterval(timerId); }, 1000);
        if (str != "") {
            $.get("Find/" + str,
                {
                    search: str.value
                },
                function(data)
                {
                    let table = document.getElementById("content");
                    while (table.firstChild) 
                        table.removeChild(table.firstChild);                    
                    let length = data.length;
                    for (let i = 0; i < length; i++) 
                        $("#content").append('<tr><th>' + data[i].name + '</th><th>' + data[i].status + '</th><th>' + data[i].parentName + '</th></tr>');                    
                });
        }
        else
            window.location.reload();
    }
</script>

<div>
    <div>
        <form onsubmit="return false">
            <input name="search" value="" placeholder="Искать здесь..." type="search" onchange="sort(this.value); return false;" autocomplete="off">
        </form>
    </div>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                       Status
                    </th>
                    <th>
                        ParentName
                    </th>                    
                </tr>
            </thead>
            <tbody id="content">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentName)
                        </td>                   
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Здесь пока пусто</h2>
    }

    <a asp-action="Synchronization" class="btn btn-sm btn-success">
        <i class="fa-solid fa-plus">
            Синхронизовать
        </i>
    </a>
</div>